.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  transform-origin: calc(10vmin/3) calc(10vmin/2);
  animation: App-logo-float infinite 3s ease-in-out;
}

@media (max-width: 440px) {
  .App {
    font-size: calc(10px + 2vmin);
  }
  .App-logo {
    height: 25vmin;
  }
}

@keyframes App-logo-float {
  0% {
    transform: rotate(0deg);
  }

  24.9% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  49.9% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75.9% {
    transform: rotate(180deg);
  }

  76% {
    transform: rotate(270deg);
  }

  99.9% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}